<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header>
        <div class="p-3 border-gray-200 px-6 py-2.5" style="background: #040204">
            <div class="flex flex-wrap justify-between items-center mx-auto">
                <a href="/" class="flex items-center">
                    <img src="https://i.imgur.com/4drIRvQ.gif" class="mr-3 h-6 mt-3" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-transparent bg-clip-text bg-gradient-to-r from-pink-400 via-cyan-500 to-white">FunPay</span>
                </a>

                <div class="justify-between items-center flex-auto w-auto mx-16">
                    <ul class="flex font-medium flex-row space-x-8 order-1">
                        <li>
                            <a href="/" class="block px-2 text-gray-400 hover:text-white">Главная</a>
                        </li>
                        <li>
                            <a href="#" class="block px-2 text-gray-400 hover:text-white">Поддержка</a>
                        </li>
                        <li>
                            <a href="#" class="block px-2 text-gray-400 hover:text-white">Повышение прав</a>
                        </li>
                    </ul>
                </div>

                <div class="flex items-center order-2">
                    <a class="waves-effect waves-purple btn-small bg-white text-black hover:bg-purple-600 hover:text-white border-solid border-0 border-b-4 border-purple-600 focus:bg-purple-600 focus:text-white">Войти</a>
                </div>
            </div>
        </div>
    </header>
</div>