<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <style>
        .input-field input:focus {
            border-bottom: 1px solid violet !important;
            box-shadow: 0 1px 0 0 violet !important;
            color: white !important;
        }

        .input-field input:focus + label {
            color: white !important;
        }

        ul.dropdown-content.select-dropdown li span {
            background: #1A1B1C;
            color: white;
        }

        ul.dropdown-content.select-dropdown li span:hover {
            background: rgb(115 115 115);
        }
    </style>
</head>

<div th:insert="fragments/header :: header"></div>

<body class="bg-neutral-900 text-bg-dark min-h-screen" style="font-family: 'Century Gothic'; background: #232323">
<div class="cover-container p-3 flex-column">

    <div class="bg-black bg-opacity-50 text-white rounded-xl">
        <table class="table-auto">
            <caption>
                <div class="row">
                    <form action="/search">
                        <div class="input-field col s9">
                            <input class="input-search" name="search" id="input-search" type="text"
                                   th:value="${search}">
                            <label for="input-search">Поиск</label>
                        </div>
                        <div class="input-field col s3">
                            <div class="flex">
                                <div class="col s9 w-full">
                                    <select name="type" class="w-full">
                                        <option value="">Тип товара</option>
                                        <option value="Аккаунт" th:selected="(${type} == 'Аккаунт')">Аккаунт</option>
                                        <option value="Предмет" th:selected="(${type} == 'Предмет')">Предмет</option>
                                        <option value="Прочее" th:selected="(${type} == 'Прочее')">Прочее</option>
                                    </select>
                                </div>
                                <button class="waves-effect waves-light text-white bg-neutral-800 hover:bg-neutral-500 hover:bg-opacity-50 focus:bg-neutral-500 focus:bg-opacity-50 focus:text-white rounded col s3" type="submit">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
            </caption>
            <thead th:if="${not goodsList.isEmpty()}">
            <tr>
                <th>Тип</th>
                <th>Описание</th>
                <th>Продавец</th>
                <th style="min-width: 110px">Цена</th>
            </tr>
            </thead>

            <tbody th:if="${not goodsList.isEmpty()}">
            <div th:each="goods: ${goodsList}">
                <a href="#">
                    <div>
                        <tr class="opacity-50 hover:opacity-100">
                            <td><a class="font-bold h-full w-full" th:href="'item/' + ${goods.getIdGoods()}"
                                   th:text="${goods.getType().getTypeName()}"></a></td>

                            <td><a class="hover:underline" th:href="'item/' + ${goods.getIdGoods()}"
                                   th:text="${goods.getGoodsName()}"></a></td>

                            <td><a class="hover:underline" th:text="${goods.getSeller().getLogin()}"
                                   th:href="'profile/' +${goods.getSeller().getIdUser()}"></a></td>

                            <td th:text="${goods.getGoodsCost()} + '₽'"></td>
                        </tr>
                    </div>
                </a>
            </div>
            </tbody>

            <tbody th:if="${goodsList.isEmpty()}">
            <tr>
                <td colspan="4" class="text-center font-bold text-3xl">Ничего не найдено!</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>