<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize/css/materialize.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>

        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 320px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        input[type="number"] {
            min-width: 50px;
        }
    </style>
</head>
<body class="text-bg-dark min-h-screen" style="font-family: 'Century Gothic'; background: #232323">

<div th:insert="fragments/header :: header"></div>

<div class="cover-container p-3 flex-column" th:object="${user}">
    <div class="row">
        <div class="col s12">
            <span class="relative text-white text-xl font-bold"></span>
            <div class="card bg-black bg-opacity-50 darken-1" style="overflow: hidden; min-height: 1%">
                <div class="card-content white-text">
                    <div class="col s8">
                        <div class="flex">
                            <div class="card h-48 w-48">
                                <div class="card-image">
                                    <img th:src="*{profilePhoto}" style="width: 200px; height: 180px">
                                </div>
                            </div>
                            <div class="p-3 pl-0 row">
                                <span class="flex-auto rounded-tr-lg text-3xl ml-5 font-bold order-1" th:text="*{login}"></span>
                            </div>

                        </div>

                        <span class="card-title">Товары на продаже: </span>
                        <div class="flex flex-row justify-start items-start overflow-x-auto" th:if="${not goods.isEmpty()}">
                            <div id="item" class="mr-5 mb-3" style="max-width: 300px; min-width: 300px; min-height: 250px !important;"
                                 th:each="element: ${goods}">
                                <div class="bg-gradient-to-tl from-green-400 to-indigo-800 rounded rounded-md py-1 h-full">
                                    <div class="card darken-1 bg-black bg-opacity-40 rounded rounded-md mx-2">
                                        <div class="card-content white-text">
                                            <span class="card-title">Краткое описание</span>
                                            <p class="break-words overflow-y-auto"
                                               style="max-height: 100px !important;"
                                               th:text="${element.goodsName}"></p>
                                        </div>
                                        <div class="card-action">
                                            <a th:href="'/item/' + ${element.idGoods}"
                                               class="waves-effect waves-green btn-small text-black bg-white rounded rounded-md focus:bg-transparent focus:text-white hover:bg-transparent hover:text-white"
                                               style="width: 100% !important;">Посмотреть</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${goods.isEmpty()}">
                            <div class="justify-start items-start" style="flex-direction: row;">
                                <div class="flex">
                                    <div class="bg-gradient-to-tl from-green-400 to-indigo-800 rounded rounded-md"
                                         style="width: 100%">
                                        <div class="card darken-1 bg-black bg-opacity-40 m-2">
                                            <div class="card-content white-text text-center text-3xl">
                                                <p>Тут пока пусто :)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="card-title">Проданые товары: </span>
                        <div id="items-scroll1" class="flex justify-start items-start overflow-x-scroll"
                             style="flex-direction: row" th:if="${not selled.isEmpty()}">
                            <div class="flex-content mr-5 mb-3"
                                 style="max-width: 300px; min-width: 300px;"
                                 th:each="element: ${selled}">
                                <div class="bg-gradient-to-tl from-green-400 to-indigo-800 rounded rounded-md py-1"
                                >
                                    <div class="card darken-1 bg-black bg-opacity-40 rounded rounded-md mx-2">
                                        <div class="card-content white-text">
                                            <span class="card-title">Краткое описание</span>
                                            <p class="break-words overflow-y-auto"
                                               style="max-height: 100px !important;"
                                               th:text="${element.goods.goodsName}"></p>
                                        </div>
                                        <div class="card-action">
                                            <a th:href="'/profile/' + ${element.buyer.idUser}"
                                               th:text="'Покупатель: ' + ${element.buyer.login}"
                                               class="hover:underline"
                                               style="color: white"> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${selled.isEmpty()}">
                            <div class="justify-start items-start" style="flex-direction: row;">
                                <div class="flex">
                                    <div class="bg-gradient-to-tl from-green-400 to-indigo-800 rounded rounded-md"
                                         style="width: 100%">
                                        <div class="card darken-1 bg-black bg-opacity-40 m-2">
                                            <div class="card-content white-text text-center text-3xl">
                                                <p>Тут пока пусто :)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="mr-2">
                            <figure class="highcharts-figure ">
                                <div id="sell-container"></div>
                            </figure>
                        </div>

                        <div class="mr-2">
                            <figure class="highcharts-figure ">
                                <div id="buy-container"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

<script th:inline="javascript">
    Highcharts.chart('sell-container', {
        chart: {
            backgroundColor: '#232323',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Продажи',
            style: {
                color: '#FFFFFF'
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Типы товаров',
            colorByPoint: true,
            data: [{
                name: 'Аккаунт',
                y: [[${sellAcc}]],
                sliced: true,
                selected: true
            }, {
                name: 'Предмет',
                y: [[${sellItem}]]
            }, {
                name: 'Прочее',
                y: [[${sellOther}]]
            }]
        }]
    });

    Highcharts.chart('buy-container', {
        chart: {
            backgroundColor: '#232323',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Покупки',
            style: {
                color: '#FFFFFF'
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Типы товаров',
            colorByPoint: true,
            data: [{
                name: 'Аккаунт',
                y: [[${buyAcc}]],
                sliced: true,
                selected: true
            }, {
                name: 'Предмет',
                y: [[${buyItem}]]
            }, {
                name: 'Прочее',
                y: [[${buyOther}]]
            }]
        }]
    });

</script>

</body>
</html>