<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <style>
        #items-scroll::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body class="text-bg-dark min-h-screen" style="font-family: 'Century Gothic'; background: #232323">

<div th:insert="fragments/header :: header"></div>

<div class="cover-container p-3 flex-column" th:object="${user}">
    <div class="row">
        <div class="col s12">
            <span class="relative text-white text-xl font-bold"></span>
            <div class="card bg-black bg-opacity-50 darken-1" style="height: 83vh" >
                <div class="card-content white-text" >
                    <div class="flex flex-row">
                        <div class="card h-48 w-48">
                            <div class="card-image">
                                <img th:src="*{profilePhoto}" style="width: 200px; height: 180px">
                            </div>
                        </div>
                        <div class="p-3 pl-0">
                            <span class="bg-black bg-opacity-80 flex-auto rounded-tr-lg text-3xl ml-5 font-bold" th:text="*{login}"></span>
                        </div>
                    </div>
                    <span class="card-title">Товары на продаже: </span>
                    <div th:if="${not goods.isEmpty()}">
                        <div id="items-scroll" class="flex justify-start items-start overflow-x-auto" style="flex-direction: row">
                            <div class="flex-content mr-5" style="max-width: 300px; height: 100% !important;" th:each="element: ${goods}">
                                <div class="bg-gradient-to-tl from-green-400 via-amber-400 to-indigo-800 rounded rounded-md py-1" style="height: 100% !important;">
                                    <div class="card darken-1 bg-black bg-opacity-40 rounded rounded-md mx-2">
                                        <div class="card-content white-text" >
                                            <span class="card-title">Краткое описание</span>
                                            <p class="break-words overflow-y-auto" style="max-height: 100px !important;" th:text="${element.goodsName}"></p>
                                        </div>
                                        <div class="card-action">
                                            <a th:href="'/item/' + ${element.idGoods}" class="waves-effect waves-green btn-small text-black bg-white rounded rounded-md focus:bg-transparent focus:text-white hover:bg-transparent hover:text-white" style="width: 100% !important;">Посмотреть</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${goods.isEmpty()}">
                        <div class="justify-start items-start overflow-x-auto" style="flex-direction: row;">
                            <div class="flex">
                                <div class="bg-gradient-to-tl from-green-400 via-amber-400 to-indigo-800 rounded rounded-md" style="width: 100%">
                                    <div class="card darken-1 bg-black bg-opacity-40 m-2">
                                        <div class="card-content white-text text-center text-3xl" >
                                            <p>Тут пока пусто :)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span class="card-title">Проданые товары: </span>
                    <div th:if="${not selled.isEmpty()}">
                        <div id="items-scroll" class="flex justify-start items-start overflow-x-auto" style="flex-direction: row">
                            <div class="flex-content mr-5" style="max-width: 300px; height: 100% !important;" th:each="element: ${selled}">
                                <div class="bg-gradient-to-tl from-green-400 via-amber-400 to-indigo-800 rounded rounded-md py-1" style="height: 100% !important;">
                                    <div class="card darken-1 bg-black bg-opacity-40 rounded rounded-md mx-2">
                                        <div class="card-content white-text" >
                                            <span class="card-title">Краткое описание</span>
                                            <p class="break-words overflow-y-auto" style="max-height: 100px !important;" th:text="${element.goods.goodsName}"></p>
                                        </div>
                                        <div class="card-action">
                                            <a th:href="'profile/' + ${element.buyer.idUser}" th:text="'Покупатель: ' + ${element.buyer.login}" class="hover:underline" style="color: white"> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${selled.isEmpty()}">
                        <div class="justify-start items-start overflow-x-auto" style="flex-direction: row;">
                            <div class="flex">
                                <div class="bg-gradient-to-tl from-green-400 via-amber-400 to-indigo-800 rounded rounded-md" style="width: 100%">
                                    <div class="card darken-1 bg-black bg-opacity-40 m-2">
                                        <div class="card-content white-text text-center text-3xl" >
                                            <p>Тут пока пусто :)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>